body {
    background-color: #FFFFFF;
}

@font-face {
    font-family: sans-serif-custom;
    src: url(./dist/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 1 1000; 

} 

@font-face {
    font-family: sans-serif-custom-italic;
    src: url(./dist/assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000; 
}

@font-face {
    font-family: serif-custom;
    src: url(./dist/assets/fonts/lora/Lora-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 1000; 
}

@font-face {
    font-family: mono-custom;
    src: url(./dist/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf) format('truetype');
    font-weight: 1 1000; 
}