@font-face {
    font-family: sans-serif-custom;
    src: url(../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: serif-custom-italic;
    src: url(../assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: serif-custom;
    src: url(../assets/fonts/lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: mono-custom;
    src: url(../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}